body {
  background-color: gray;
}
.menu {
  background-color: white;
  border-radius: 1vw;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 5vw;
  
  width: auto;
  height: 5vw;
  
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.menu >div {
  flex: auto;
  color: black;
  font-family: 'Haettenschweiler', cursive;
  font-size: 2.5vw;
  text-align: center;
  font-weight:light;
  letter-spacing: 0.4vw;
}
.menu >h1{
  flex: auto;
  color: white;
  font-family: 'Haettenschweiler', cursive;
  font-size: 2vw;
  text-align: center;
  font-weight:light;
  letter-spacing: 1vw;
}
.encabezado {
  background: linear-gradient(to top,  #3AA000, #73E600 );
  border-radius: 2vw;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0vw;
  width: 25%;
  height: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0vw 2vw 3vw -2vw  #000000;
}


.encabezado:hover h1{
  
  font-weight: 700;
}


.encabezado h1 {
  color: white;
  font-family: 'Impact', cursive;
  font-size: 2vw;
  text-align: center;
  font-weight: 200;
  letter-spacing: 3px;
}


