body {
  background-color: gray;
}

.encabezado {
  
  background: linear-gradient(to top,  #3AA000, #73E600 );
  border-radius: 25px;
  text-align: center;
  width: auto;
  height: 5%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.encabezado:hover h1{
  
  font-weight: 700;
}


.encabezado h1 {
  color: white;
  font-family: 'Impact', cursive;
  font-size: 3vw;
  text-align: center;
  font-weight: 200;
  letter-spacing: 3px;
}
.elemento {
  width: 30%;
  height: 10%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.elemento ul {
  list-style: none;
  display: flex;
}
.elemento li {
  flex: 1;
  text-align: center;
}